<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"


  </head>
  <body>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">

    <div class="jumbotron">

    <h1>Company Name </h1>

      <nav class="navbar navbar-default navbar-static-top"
      <ul  class="nav navbar-nav"><br>

    <h2><a class="navbar-link", href="{% url "admin:index" %}">Login</a></h2>
    <h2><a class="navbar-link", href="{% url "home" %}">Back to Homepage</a></h2><br>
    <h2> Instruments  </h2>
    <h3><a class="navbar-link" href="{% url "Instruments" %}">Instruments Calibration Due</a></h3>
    <h3><a class="navbar-link" href="{% url "Instruments2" %}">Instruments Calibration Status</a></h3>
    <h3><a class="navbar-link" href="{% url "Cal2" %}">Calibration Visualization</a></h3><br>
    <h2> Fixtures and Templates   </h2>
		<h3><a class="navbar-link" href="{% url "Fixtures" %}">Fixtures and Templates Verification Due</a></h3>
    <h3><a class="navbar-link" href="{% url "Fixtures2" %}">Fixtures and Templates Status</a></h3>
    <h3><a class="navbar-link" href="{% url "Cal" %}">Fixtures and Templates Visualization</a></h3><br>
    
    

 





   